{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Patients List</h2>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.phone_number }}</td>
                <td>{{ patient.gender.capitalize() }}</td>
                <td>
                    <form action="{{ url_for('delete_patient_record', patient_id=patient.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}
